<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0">
  <title>分类页面</title>
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/category.css">
</head>
<body>
  <div class="view-width" id="cate">
    <!-- 分类页搜索 -->
    <div class="cate-search navbar bd-b">
      <a href="javascript:history.go(-1);" class="back-btn">
        <span class="iconfont">&#xe62d;</span>分类
      </a>
      <a href="javascrit:;" class="box-search">
        <div>
          <i class="iconfont">&#xe604;</i><span class="placeholder">搜索您想要的商品</span>
        </div>
      </a>
    </div>
    <!-- 分类页主体 -->
    <div class="cate-left">
      <div class="cate-left-scroll">
        <ul class="bd-r">
          <li class="bd-b cur">女装</li>
          <li class="bd-b">女鞋</li>
          <li class="bd-b">男装</li>
          <li class="bd-b">男鞋</li>
          <li class="bd-b">数码</li>
          <li class="bd-b">家电</li>
          <li class="bd-b">美妆</li>
          <li class="bd-b">箱包</li>
          <li class="bd-b">运动</li>
          <li class="bd-b">户外</li>
          <li class="bd-b">家装</li>
          <li class="bd-b">家纺</li>
          <li class="bd-b">居家</li>
          <li class="bd-b">饰品</li>
          <li class="bd-b">食品</li>
          <li class="bd-b">汽车</li>
          <li class="bd-b">医药</li>
          <li class="bd-b">图书</li>
          <li class="bd-b">通信</li>
          <li class="bd-b">洗护</li>
        </ul>
      </div>
    </div>
    <div class="cate-right">
      <div class="cate-right-container">
        <div class="cate-promotion">
          <a href="#none">
            <img src="uploads/cate-l1-top1.jpg" alt="">
          </a>
        </div>
        <div class="cate-left-list">
          <h3>热卖选购</h3>
          <ul class="clearfix">
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="cate-left-list">
          <h3>热卖选购</h3>
          <ul class="clearfix">
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="cate-left-list">
          <h3>热卖选购</h3>
          <ul class="clearfix">
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="cate-left-list">
          <h3>热卖选购</h3>
          <ul class="clearfix">
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="cate-left-list">
          <h3>热卖选购</h3>
          <ul class="clearfix">
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
            <li>
              <a href="#none">
                <img src="uploads/cate-left-item.jpg" alt="">
                <span>短裤</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      </div>
  </div>
</body>
</html>